:root {
    --primery-text-color: #434455;
    --title-text-color:  #2E2F42;
    --acent-color: #FFFFFF;
    --color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
    --secondary-background: #f4f4fd;
}

/* main-page */
.body {
background-color: var(--color-white);
color:var(--primery-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.02em;
}

link {
    text-decoration: none;
}

/* header */

.container {
margin:0 auto;
max-width:1158px;
padding:0 15px;
}

.header-style {
    /* display: flex; */
    border-bottom: 1px solid  #e7e9fc;
}

.main-nav {
    display: flex;
    align-items: center;
   
}

.header-nav {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;
}

.link-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio {
   color:var(--title-text-color); 
   
}

.list {
    list-style: none;
    padding: 0;
}

.site-nav {
    display: flex;
    margin-left: 76px;
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav .item:not(:last-child) { 
    margin-right: 40px;
}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.site-nav li .item:last-child { 
    margin-right: 0;
}

.site-nav .item:hover,
.site-nav .item:focus {
    color: var(--color-ocean);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--color-ocean);
}
.address a {
    color: var(--primery-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

.address {
    display:flex;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
}

.address .item {
    display: block;
}

.active:hover,
.active:focus {
    color: var(--color-ocean);
}
.address .item + .item {
    margin-left: 40px;
}

/* main */

.hero {
    background: var(--color-navy-blue);
    text-align: center;
}
.hero-container {

}

.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color:var(--color-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    text-align: center;
    letter-spacing: 0.02em;
}
.button {
    cursor: pointer;
    background-color: var(--color-iris);
    color: var(--color-white);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* sections */

.section .no-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.section {
    margin:0 auto;
    max-width:1128px;
    padding-top: 120px;
}
.button-active:hover {
   background-color: var(--color-ocean);
}

/* about */

.hide {
    display: none;
    margin-top: 0;
    margin-bottom: 0;}

.list-about {
    display: flex;
    max-width: 1128px;
    margin-top: 0;
    margin-bottom: 0;
}
.list-about .item:not(:last-child) {
padding-right: 12px;
}
.list-about .item:not(:first-child) {
padding-left: 12px;
}

.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.section-subtitle {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px; 
}

.sub-text {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}
.container-about {
  padding-top: 120px;
}

/* What are we doing */

.container-rectangle {
    display: flex;
    margin-top: 0;
    margin-bottom: 120px;
}
.container-rectangle .item:not(:last-child) {
    margin-right: 12px;
}
.container-rectangle .item:not(:first-child) {
    margin-left: 12px;
}
/* our team */

.container-team {
    display: flex;
}
.section-team{
    background-color: var(--color-cloud);
}

.container-team .item {
    background-color: var(--color-white);
    text-align: center;
}
.container-team .item:not(:last-child) {
    margin-right: 12px;
}
.container-team .item:not(:first-child) {
    margin-left: 12px;
}
.container-team .item .section-subtitle {
    padding-top: 32px;
}
.text {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 32px;
}
/* footer */
.footer {
    background-color: var(--color-navy-blue);
   
}

.link-logo {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo {
    color: var(--color-cloud); 
    padding-top: 101px;
    padding-bottom: 17px;
    margin-right: auto;
}
.footer-text {
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
    padding-bottom: 100px;
    margin-right: auto;
}
/* PORFOLIO */

.portfolio {
    background: var(--color-white);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

.menu-style-portfolio {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-style-portfolio:hover,
.menu-style-portfolio:focus {
    color: var(--color-ocean);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
}

.logo-web {
    color: var(--color-iris);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}
.logo-studio {
   color: var(--title-text-color); 
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 18px;
   line-height: 1.2;
}
/* filter */
.hide {
    display: none;
}

.button-active:hover,
.button-active:focus {
    cursor: pointer;
    background: var(--color-ocean);
    color: var(--color-white);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.filter-button {
    cursor: pointer;
    background: var(--color-cloud);
    color: var(--color-iris);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

  }
/* progect-cards */

.link-title {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.link-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primery-text-color);
}

/* footer */
.footer-logo {
    color: var(--color-cloud); 
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}
